# Flutter
.dart_tool/
.packages
pubspec.lock
flutter_export_environment.sh
flutter_*.sh

# Generated pluginRegistrant files
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.*
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake

# Build
build/
**/intermediates/
**/outputs/

# Android
android/.gradle
android/.idea
android/app/build/
android/app/intermediates/
android/app/libflutter.so
android/app/src/main/java/com/example/app/GeneratedPluginRegistrant.java
android/app/src/profile/
android/app/src/debug/

# iOS
ios/Flutter/
ios/.ios/
ios/.flutter-plugins-dependencies
ios/Flutter/ephemeral
ios/.symlinks
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
ios/Runner.xcodeproj/xcuserdata/
ios/Pods/
ios/build/

# Files and directories that are typically large and shouldn't be committed
*.apk
*.aab
*.ipa
*.so
*.jar
*.aar
*.zip
*.tar
*.gz
*.7z
*.log

# IDE
.idea/
.vscode/
*.iml
**/xcuserdata/
**/DerivedData/

# Environment specific files
**/local.properties
**/google-services.json
**/key.properties
